.service-list {
    .brxe-list {
        .content {
            display: inline-flex;
            white-space: nowrap;

            .title {
                margin: 0;
            }

            .separator {
                width: 7px;
                margin-left: 10px;
                border-top: 2px solid;
            }
        }
    }
}